body
{
    padding-top:70px;
    padding-bottom:70px;
}

#footer-nav
{
    text-align:center;
}

#head-nav .navbar-brand
{
    margin-left:10em;
    font-size:20px;
}

#register-panel .panel-body
{
    padding:50px;
}

#profile-panel 
{
    padding:35px;
}

#profile-panel
{
    border-left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
    margin-bottom:0;
    border-bottom:0;
}

#panel-container
{
    border: 1px solid #DDD;
    border-radius:4px;
}

.content
{
    overflow:hidden;
}

#profile-navigation
{
    padding:0;
    height:100%;
    padding-bottom:100%;
    margin-bottom:-100%;
    border-right:1px solid #DDD;
}

#profile-navigation .list-group
{
    margin-bottom:0;
}

#profile-navigation .list-group-item
{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-left:0;
    border-right:0;
}

#register-form .row
{
    padding-bottom:20px;
}

#profile-mini-thumb
{
    width:128px;
    height:128px;
    display:inline-block;
    outline:1px solid black;
    background-size:cover;
}

#profile-picture-container
{
    text-align:center;
}

.friend_holder .panel-body
{
    min-height:90px;
    max-height:90px;
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
}

.friend_holder .panel-footer
{
    padding:5px;
    text-align: center;
}

.board-panel .panel-body
{
    padding:0;
}

.board-panel .table
{
    border:0;
    margin-bottom:0;
}

.no-thread-container
{
    padding:40px;
    text-align:center;
}

.center-table-cell
{
    text-align:center;
}

.lg-textarea
{
    min-height:150px;
}

.post-content
{
    padding-left:40px;
    width:80%;
}

.post-controls
{
    padding-left:20px;
    padding-right:20px;
}

.post-details
{
    line-height:2;
}

.poster-info
{
    width:20%;
}

.thread-label
{
    padding: 0.2em 0.6em 0.1em;
}

.reply-area
{
    min-height:150px;
}

.post-point
{
    padding-top:50px;
}

.post-section
{
    padding-top: 70px; 
    margin-top:-70px;
}